.fWrapper {
    background-color: #D6C7AE;
    min-height: 20rem;
}

.fContainer {
    padding-bottom: 0px !important;
}

.footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid lightgrey;
}

.footerTopLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerLogo {
    font-size: 3rem;
    cursor: pointer;
}

.footerTagline {
    margin-bottom: 2rem;
}

.footerInfo {
    display: flex;
    align-items: center;
}

.footerInfo svg {
    margin-right: 10px;
}

.footerTopRight {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 4rem;
}

.footerTopRight div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerTopRight p, .footerInfo {
    cursor: pointer;
}

.footerBottom {
    padding: 1rem;
}

@media screen and (max-width: 1040px) {
    .footerTop h3 {
        font-size: 16px;
    }

    .footerTop .footerLogo {
        font-size: 20px;
    }

    .footerTop p {
        font-size: 14px;
    }
}

@media screen and (max-width: 880px) {
    .footerTop {
        flex-direction: column;
    }

    .footerTopLeft {
        margin-bottom: 3rem;
        align-items: center;
    }

    .footerTopRight div {
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .footerTopRight {
        flex-direction: column;
        align-items: center;
    }

    .footerBottom {
        font-size: 14px;
    }
}